:root{
  --main-blue: #63B3ED;
  --hover-blue:rgba(0, 149, 255, 0.773);
}
.submitBtn{
  margin-top: 1rem;
  padding: 3px 0 3px 0;
  border: 1px solid black;
  background-color: var(--main-blue);
  border-radius: 8px;
  color: white;
}

.submitBtn:hover{
  background-color:var(--hover-blue);
}

.form-errors{
  color: red;
  min-height: 12px;
  max-height: 12px;
  font-size: 13px;
}
